.modal-container {
    position: relative;
  }
  
  /* 배경 오버레이 스타일 */
  .background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 회색 배경 색상 및 투명도 조절 */
    z-index: 1000; /* 모달 위에 표시되도록 설정 */
  }

  .subRowBk{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000;
    top:0;
    left: 0;
    opacity: 0.5;
  }

  .common_help_table tbody tr:hover{
    background-color: #dadada;
    cursor: pointer;
  }