.SectionContainer {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.SearchSection table tbody td {
  border: 0px;
}
.searchCom {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.searchCom input {
  width: 110px;
}
.searchCom label {
  width: 4rem;
}

.headerSection {
  border-left: 3px solid #5390f0;
}

.header {
  font-weight: bold;
  margin-left: 1rem;
}

.middlePart {
  display: flex;
  flex-direction: row;
}

.arrow {
  width: 50px;
}

.grid01,
.grid02,
.grid03 {
  width: 33%;
  height: 150px;
}
.grid04 {
  margin-bottom: 3rem;
  height: 250px;
}

.searchBtn {
  width: 60px;
  background: #4373c0;
  border: none;
  border-radius: 6px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 20;
  font-size: 13px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
}

.helperBtn {
  border: 0px;
  color: #ffffff;
  background: #5390f0;
  border-radius: 10px;
  padding: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-left: 5px;
}
.xBtn {
  background-color: #ffffff;
  border: 1px solid #5390f0;
  color: #5390f0;
}

.btnBox {
  width: 100%;
  display: flex;
  justify-content: right;
}
