table {
  width: auto !important;
}
.SectionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.SearchSection table tbody td {
  border: 0px;
}

.SearchSection table {
  border: none;
}

.SearchSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.middlePart {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.arrow {
  width: 50px;
}

.grid01,
.grid02,
.grid03 {
  width: 33%;
  height: 150px;
}
.grid04 {
}
.formresultStyle {
  height: 440px;
}
.tableresultStyle {
  height: 300px;
}

.btnWrap {
  width: 100%;
  display: flex;
  justify-content: right;
}

.btnBox {
  /* width: 100%;
  justify-content: right; */

  border-radius: 10px;
  border: 1px solid #e9eef6;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.toggleContainer {
  display: flex;
  width: 200px; /* 원하는 너비 설정 */
  margin: 0 auto; /* 가운데 정렬을 위한 스타일 */
}

.toggleButton {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
}
.toggleContainer :nth-child(1) {
  border-radius: 10px 0 0 10px;
}
.toggleContainer :nth-child(2) {
  border-radius: 0 10px 10px 0;
}
/* 활성화된 쪽에 배경색 적용 */
.active {
  background-color: var(--main-color); /* 원하는 배경색 설정 */
  color: #fff; /* 텍스트 색상 설정 */
}

/* 활성화되지 않은 쪽에 배경색 지우기 */
.inactive {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
