.SectionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 93%;
  padding: 50px 40px;
}

.SectionContainer > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tableCon {
  height: 60%;
}

.btnBox {
  margin-right: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 60px;
  background: #4373c0;
  border: none;
  border-radius: 6px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 20;
  font-size: 13px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
}

.inoutCon,
.PBtnCon {
  display: flex;
  justify-content: center;
}

.pagination {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.active,
.pbtn {
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 20;
  font-size: 13px;
  line-height: 12px;
  justify-items: center;
  margin-bottom: 1rem;
}

.active {
  background: var(--main-color);
  color: #ffffff;
}

.pbtn {
  background: #ffffff;
  color: var(--main-color);
}

.PBtnBox {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}

.pbtn:hover,
.pbtn:active {
  background: rgba(67, 115, 192, 0.1);
  border-color: #4373c0;
}

.left,
.right {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #e9eef6;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  height: 120px;
}

.left {
  margin-right: 3rem;
}

.right {
  margin-left: 3rem;
}
.left > td > div > div,
.right > td > div > div {
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left > td > div > div > label,
.right > td > div > div > label,
.etcCon > td > div > div > label,
.dateCon > label {
  font-size: 14px;
  font-weight: 400;
}

.left > td > div > div > label,
.right > td > div > div > label {
  text-align: center;
  line-height: 25px;
}

.left > td > div > input,
.right > td > div > input {
  border-radius: 2px;
  border: 1px solid #b9b9b9;
  background: #fff;
  width: 150px;
  height: 25px;
}
.left > td > div,
.right > td > div {
  display: flex;
  align-items: normal;
  flex-direction: initial;
  height: 25px;
}

.left > td,
.right > td {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 30px;
}
.inoutCon > div > td {
  border: 0px;
}

.dateCon {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.dateCon > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.dateCon > div input {
  border-radius: 2px;
  border: 1px solid #b9b9b9;
  background: #fff;
}

.etcCon {
  width: 630px;
  border-radius: 10px;
  border: 1px solid #e9eef6;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
}

.etcCon > td {
  border: 0px;
  width: 140px;
}
.dateCon {
  margin-right: 1rem;
}

.etcCon > td > div {
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  width: 100%;
  flex-direction: column;
}
.etcCon > td > div > label {
  text-align: left;
}
.etcCon > td > div > input {
  width: 120px;
  height: 22px;
  border-radius: 2px;
  border: 1px solid #b9b9b9;
  background: #fff;
}
.tableCon > div > div > table > tbody > tr > td > input {
  color: var(--font-color);
  font-weight: normal;
}
