.SectionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 40px;
}
.SectionContainer > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrange {
  display: flex;
  width: 100%;
  height: 60vh;
  flex-direction: column;
}
.topPart {
  /* height: 40%; */
  /* border: 1px solid #becee7; */
  /* box-shadow: 0, 0, 0, 10px, rgba(83, 144, 240, 0.8); */
  border-radius: 20px;
}
.bottomPart {
  /* height: 60%; */
  border-radius: 20px;
  /* margin-top: 1rem; */
  border: none;
}

.tableCon {
  /* margin-top: 1rem; */
  height: 80%;
}

.tableCon > div {
  padding-top: 1rem;
  height: 350px;
}

.tableCon > div > div {
  height: 100%;
}

.btnBox {
  margin-top: 1rem;
  margin-right: 1rem;
  width: 100%;
  display: flex;
  justify-content: right;
}
.btnTrue,
.btnFalse {
  width: 70px;
  background: #4373c0;
  border: none;
  border-radius: 15px;

  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font: bold;
  padding: 0.3rem 1rem;

  margin-bottom: 1rem;
}

.btnTrue:hover,
.btnTrue:active {
  background: #4373c0;
  border-color: #4373c0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
}
.btnFalse {
  border: 1px solid #4373c0;
  color: #4373c0;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
}

.panel {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}
.bottompanel {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
  justify-content: right;
}
.panelContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.errorTrue {
  width: 600px;
  color: red;
  align-items: center;
  text-align: right;
  height: 40px;
  line-height: 40px;
  display: flex;
  margin: 0;
  justify-content: flex-end;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: initial;
  -webkit-appearance: initial;
}
.inoutCon {
  display: flex;
  justify-content: center;
}

.bottompanel {
  display: flex;
  justify-content: right;
  margin-right: 3rem;
}

.left,
.right {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #e9eef6;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  height: 120px;
}

.left {
  margin-right: 3rem;
}

.right {
  margin-left: 3rem;
}
.left > td > div,
.right > td > div {
  display: flex;
  align-items: normal;
  flex-direction: initial;
  height: 25px;
}

.left > td > div > div,
.right > td > div > div {
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left > td > div > div > label,
.right > td > div > div > label,
.etcCon > td > div > div > label,
.dateCon > label {
  font-size: 14px;
  font-weight: 400;
}
.left > td > div > div > label,
.right > td > div > div > label {
  text-align: center;
  line-height: 25px;
}
.left > td > div > input,
.right > td > div > input {
  border-radius: 2px;
  border: 1px solid #b9b9b9;
  background: #fff;
  width: 150px;
  height: 25px;
}

.inoutCon > div > td,
.bottompanel > td {
  border: 0px;
}
.left > td,
.right > td {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 30px;
}

.bottompanel > input {
  width: 150px;
}

.etcCon {
  width: 630px;
  border-radius: 10px;
  border: 1px solid #e9eef6;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.etcCon > td {
  border: 0px;
  width: 140px;
}
.etcCon > td > div {
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  width: 100%;
  flex-direction: column;
}
.etcCon > * {
  margin-right: 1rem;
}
.inoutCon > div > td {
  border: 0px;
  /* width: 140px; */
}
.etcCon > td > div > input {
  width: 120px;
  height: 22px;
  border-radius: 2px;
  border: 1px solid #b9b9b9;
  background: #fff;
}
.etcCon > td > div > label {
  text-align: left;
}

.etcCon > button {
  margin-left: 3rem;
}
.dateCon {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.dateCon > div {
  display: flex;
  flex-direction: row;
}
.dateCon > div > input {
  border-radius: 2px;
  border: 1px solid #b9b9b9;
  background: #fff;
}
.inoutCon {
  display: flex;
  justify-content: center;
}
.tableCon > div > div > tbody > tr > td {
  width: 800px;
}
