.SectionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 93%;
}

.SectionContainer > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tableCon {
  height: 60%;
}

.btnBox {
  margin-right: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 60px;
  background: #4373c0;
  border: none;
  border-radius: 6px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 20;
  font-size: 13px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
}

.inoutCon,
.PBtnCon,
.inoutCon,
.etcCon {
  display: flex;
  justify-content: center;
}

.pagination {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.active,
.pbtn {
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 20;
  font-size: 13px;
  line-height: 12px;
  justify-items: center;
  margin-bottom: 1rem;
}

.active {
  background: var(--main-color);
  color: #ffffff;
}

.pbtn {
  background: #ffffff;
  color: var(--main-color);
}

.PBtnBox {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}

.pbtn:hover,
.pbtn:active {
  background: rgba(67, 115, 192, 0.1);
  border-color: #4373c0;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #e9eef6;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.etcCon {
  width: 46%;
  border-radius: 10px;
  border: 1px solid #e9eef6;
  background: #fff;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.etcCon td input {
  width: 85px;
  height: 22px;
  border-radius: 2px;
  border: 1px solid #b9b9b9;
  background: #fff;
}

.etcCon button {
  margin-left: 3rem;
}
.left {
  margin-right: 3rem;
}

.right {
  margin-left: 3rem;
}

.left td input,
.right td input {
  /* width: 165px;
  height: 37.5px; */
  border-radius: 2px;
  border: 1px solid #b9b9b9;
  background: #fff;
}

.inoutCon div td,
.etcCon td {
  border: 0px;
  width: auto;
}
.dateCon {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.dateCon > div {
  display: flex;
  flex-direction: row;
}
.dateCon > div input {
  border-radius: 2px;
  border: 1px solid #b9b9b9;
  background: #fff;
}
.etcCon > * {
  margin-right: 1rem;
}
