
table {
  /* border: solid 1px #B9B9B9; */
  width: 100%;
}
.btn_disabled {
  background-color: var(--border-color-light);
  color: white;
  border: none;
  box-shadow: 1px 1px 2px 1px grey;
}
.btn_abled {
  background-color: var(--main-color);
  color: white;
  border: none;
  box-shadow: 1px 1px 2px 1px grey;
}
.filter-container {
  display: flex;
}
.grid01,.grid02{
  height: 30%;
}
.container-production_list{
  height: 100%;
  padding:40px 20px;
}
.search_date{
  display: flex;
}
.search_date{
  width: 22% !important;
}