*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.wrap{
  display: flex;
  width: 100%;
  height: 100vh;
}

.wd-100p{
  width: 100%;
}

.flex{
  display: flex;
}
.section_wrap{
  width: 100%;
  height: 87.4vh;
  background-color: #dadada;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section_style{
  border-radius: 10px;
  width: 95%;
  height: 86%;
  margin-top: 10px;
  background-color: #fff;
}

.section_top > div:nth-child(2){
  margin-right: 20px;
  cursor: pointer;
}

.tap_wrap > div:hover{
  cursor: pointer;
  background-color: #C1D3F0;
}

.tap_wrap > div{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.button{
  cursor: pointer;
  background-color: #5390F0;
  color: #fff;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.button:hover{
  border: 4px solid #dadada;
}

.tap_wrap > div > *{
  margin: 0px 15px;
  line-height: 2;
}

.loader_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76vh;
}

/*페이지 내용 wrap*/
.content_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
}

/* 모든 input 포커스시 태두리와 기본상태 태두리 삭제*/
input{
  border: 0;
  outline: none;
}

/* 스크롤바 제거*/
html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

th{
  background-color: #dadada;
}
td{
  background-color: #fff;
}

th,td{
  width: 200px;
}

td{
  padding-left: 20px;
}