* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: sans-serif; /* 예: 'Roboto', sans-serif */
  line-height: 1.5; /* 좀 더 읽기 편한 기본 줄 간격을 설정합니다. */
  -webkit-font-smoothing: antialiased; /* 폰트 스무딩을 통해 글자가 더 부드럽게 보이게 합니다. */
  -moz-osx-font-smoothing: grayscale; /* Firefox에서 폰트 스무딩을 통해 글자가 더 부드럽게 보이게 합니다. */
}

img {
  max-width: 100%; /* 이미지가 부모 요소를 넘어서 확장되지 않게 합니다. */
  height: auto; /* 이미지의 가로 세로 비율을 유지합니다. */
}

a {
  color: inherit; /* 링크의 기본 색상을 상속합니다. */
  text-decoration: inherit; /* 링크의 텍스트 데코레이션을 상속합니다. */
}

button {
  background: none; /* 버튼의 기본 배경을 제거합니다. */
  border: none; /* 버튼의 기본 테두리를 제거합니다. */
  cursor: pointer; /* 버튼에 마우스 포인터 스타일을 추가합니다. */
}

input,
textarea {
  border: none; /* 입력란과 텍스트 영역의 기본 테두리를 제거합니다. */
  outline: none; /* 입력란과 텍스트 영역의 외곽선을 제거합니다. */
}

.wrap{
  display: flex;
  width: 100%;
  height: 100vh;
}

.wd-100p{
  width: 100%;
}

.flex{
  display: flex;
}
.section_wrap{
  width: 100%;
  height: 97%;
  background-color: #dadada;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section_style{
  border-radius: 10px;
  width: 95%;
  height: 93%;
  padding: 20px;
}

.section_style > div{
  border-radius: 5px;
  height: 86%;
  background-color: #fff;
}

.section_top > div:nth-child(2){
  margin-right: 52px;
  margin-top: 20px;
  cursor: pointer;
}

.tap_wrap > div:hover{
  cursor: pointer;
  background-color: #C1D3F0;
}

.tap_wrap > div{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.button{
  cursor: pointer;
  background-color: #5390F0;
  color: #fff;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.button:hover{
  border: 4px solid #dadada;
}

.tap_wrap > div > *{
  margin: 0px 15px;
  line-height: 2;
}

.loader_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76vh;
}

/*페이지 내용 wrap*/
.content_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
}

/* 모든 input 포커스시 태두리와 기본상태 태두리 삭제*/
input{
  border: 0;
  outline: none;
}

/* 스크롤바 제거*/
html::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
  overflow: none;
}
body{
  overflow: hidden;
}
html {
  scrollbar-width: none;
}
/* end 스크롤바 제거*/

th{
  background-color: inherit;
  border: 1px solid #4473BF;
}
td{
  background-color:inherit;
}

th,td{
  width: 200px;
}

td{
  padding-left: 20px;
}

.wrap > div:nth-child(2) > div:nth-child(2){
  height: 100%;
}

.dep2_wrap{
  height: 100%;
}

.section_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 7%;
  align-items: center;
}

