* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  /* font-family: sans-serif; 예: 'Roboto', sans-serif */
  line-height: 1.5; /* 좀 더 읽기 편한 기본 줄 간격을 설정합니다. */
  -webkit-font-smoothing: antialiased; /* 폰트 스무딩을 통해 글자가 더 부드럽게 보이게 합니다. */
  -moz-osx-font-smoothing: grayscale; /* Firefox에서 폰트 스무딩을 통해 글자가 더 부드럽게 보이게 합니다. */
}

img {
  max-width: 100%; /* 이미지가 부모 요소를 넘어서 확장되지 않게 합니다. */
  height: auto; /* 이미지의 가로 세로 비율을 유지합니다. */
}

a {
  color: inherit; /* 링크의 기본 색상을 상속합니다. */
  text-decoration: inherit; /* 링크의 텍스트 데코레이션을 상속합니다. */
}

button {
  background: none; /* 버튼의 기본 배경을 제거합니다. */
  border: none; /* 버튼의 기본 테두리를 제거합니다. */
  cursor: pointer; /* 버튼에 마우스 포인터 스타일을 추가합니다. */
}

/* input,
textarea {
  border: none; 
  outline: none; 
} */

.wrap {
  display: flex;
  width: 100%;
  height: 100vh;
}

.wd-100p {
  width: 100%;
}

.flex {
  display: flex;
}
.section_wrap {
  width: 100%;
  height: 97%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
}

.section_style {
  border-radius: 10px;
  width: 80vw;
  height: 75%;
  /* padding: 20px; */
  margin:20px 0px;
  /* margin-left: 15px; */
}

.section_style > div {
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #b9b9b9;
  background: rgba(217, 217, 217, 0);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  /* padding:50px 40px; */
}

.section_top > div:nth-child(2) {
  margin-right: 10px;
  margin-top: 20px;
  cursor: pointer;
}


/* 기본 버튼 */
.button{
  cursor: pointer;
  background-color: #c1d3f0;
  border: 1px solid #d9d9d9 ;
  background: rgba(217, 217, 217, 0);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.button {
  cursor: pointer;
  background-color: #5390f0;
  color: #fff;
  width: 60px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.button:hover {
  border: 4px solid #dadada;
}

.loader_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76vh;
}

/*페이지 내용 wrap*/
.content_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
}

/* 모든 input 태두리와 기본상태 태두리 삭제*/
input {
  border: 0;
  outline: none;
}

/* 스크롤바 제거*/
html::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
  overflow: none;
}
body {
  overflow: hidden;
}
html {
  scrollbar-width: none;
}
/* end 스크롤바 제거*/

th {
  background-color: inherit;
  border: 1px solid #4473bf;
}
td {
  background-color: inherit;
}

th,
td {
  width: 200px;
}

td {
  padding-left: 20px;
}

.wrap > div:nth-child(2) > div:nth-child(2) {
  height: 100%;
}

.dep2_wrap {
  height: 100%;
}

.section_top {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  height: 7%;
  align-items: center;
}

/* 메인 css */
.main_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.main_box_wrap {
  border: 5px solid #5390f0;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.main_box_wrap > div {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 200px;
  height: 200px;
  justify-content: space-evenly;
  flex-flow: column;
}

.main_box_wrap > div:hover {
  border: 3px solid #4473bf;
  border-radius: 5px;
  cursor: pointer;
}

/* main */
.section-main{
  align-items: center;
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  /* background-color: var(--light-main-colo)!important; */
  align-items: start;
}
.header_title{
  font-weight: bold;
  font-size: 45px;
  margin-left: 10px;
  text-shadow: 1px 1px grey;
  color: var(--main-color);
  font-weight: 900;
  text-shadow: 4px 4px 9px grey;
  text-align: start;
  margin-right: 700px;
  width: 300px;
  border-left: 6px solid var(--main-color);
  padding-left: 10px;
  padding-bottom: 15px;
  height: 140px;
}
.main_header{
  
}

.main_content{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-around;
}
.content_left{
  width: 30%;
  margin: 20px;
}
.wrap-summary{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.summary_title{
  font-weight: bold;
  color:var(--main-color) 
}
.summary_content{
  font-weight: bold;
  color:var(--font-color);
  font-size:25px;
  text-decoration: underline;
  text-decoration-color: var(--font-color) ;
  /* text-decoration-line: underlin; */
}
.content_middle{
  width: 30%;
  margin: 20px;
}
.content_right{
  /* margin-left: 100px; */
  width: 500px;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
}
.notice_label{
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
  text-shadow: 1px 1px grey;
  color: var(--main-color);

}
.notice_wrap{
  padding:20px 20px;
  width: 100%;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  /* border: 1px solid #b9b9b9; */
  background-color: white;
  font-size: 17px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}.summary_wrap{
  padding:40px 50px 40px 35px;
  width: 100%;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  /* border: 1px solid #b9b9b9; */
  background-color: white;
  font-size: 17px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}
.menu-link{
  background-color: var(--light-main-color);
  margin: 0px 0px 10px 10px;
  width: 200px;
  height: 150px;
  /* background-color: #fff; */
  border-radius: 10px; 
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: all 0.1s linear;
}
.menu-link:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.link_text{
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
  margin: 20px 40px 0px 15px;
  text-shadow: 1px .5px var(--main-color);
}
.link_icon i{
  color: white;
  font-size: 4em;
  margin: 10px 10px 0px 100px;
}


/* 탭 css */
.tab_wrap > div:hover {
  cursor: pointer;
  /* background-color: #c1d3f0; */
}
.tab_wrap > div > * {
  line-height: 2;
  margin-top: 2px;

}
.tab_wrap {
  display: flex;
  width: 75%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 25px;
}

.tab_wrap > div {
  /* background-color: #fff; */
  margin: 0px 15px;
  margin-top: 10px;
  /* max-height: 32px; */
  display: flex;
  border-radius: 10px;
  font-size: 14px;
}
.tab_sub_wrap{
  background-color: #fff;
  border: 1px solid #b9b9b9;
  width: 140px;
  height: 35px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  padding:0px 5px;
  position: relative;
  justify-content: space-evenly;
}
.tab_left{
  margin:0px;
  display: flex;
  width: 100%;
}
.tab_left>div{
  display: flex;
  margin: 0px;
}
.tab_wrap>div>svg{
  width: 20px;
}
.tab-x-button {
  align-items: center;
  
  /* position: absolute; */
  /* right: 0;
  top: 6px; */
  width: 30px;
  position: absolute;
  right: -40px;
  top: 6px;
  justify-content: center;
  display: none;
  margin-top:0px;
  text-align: end;
  padding-right: 5px;
}

.tab_add_button_wrap {
  width: 30px;
  /* background-color: #dadada !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* .tab_add_button {
  display: none;
} */

.tab_add_button_wrap:hover {
  /* background-color: #fff !important; */
}
.tab_add_button_wrap:hover .tab_add_button {
  display: flex;
}

/* ================CSS=================== */
/* 포커스됐을 때 input 테두리 red */
.input_red:focus{
  border:3px solid var(--red-color) !important;
  outline: none;
}
/* 포커스됐을 때 input 테두리 black */
.input_black:focus{
  border:2px solid var(--font-color) !important;
  outline: none;
}
/* 포커스됐을 때 input 테두리 blue */
.input_blue:focus{
  border:3px solid var(--main-color) !important;
  outline: none;
}

/* ===========저장 / 삭제버튼=========== */
.wrap-btn{
  display: flex;
  justify-content: end;
  margin-top:10px;
}
/* 삭제버튼 (빨강) */
.btn_delete{
  background-color: white;
  color: var(--red-color);
  border: 1px solid var(--red-color);
  box-shadow: 1px 1px 2px 1px grey;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  width: 50px;
  height: 30px;
  margin: 5px;
}
/* 기본버튼 (파랑) */
.btn_save{
  background-color: var(--main-color);
  color: white;
  border: none;
  box-shadow: 1px 1px 2px 1px grey;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  width: 50px;
  height: 30px;
  margin: 5px;
}
/* 비활성화버튼 */
.btn_disabled{
  background-color: var(--light-grey);
  color: white;
  border: none;
  box-shadow: 1px 1px 2px 1px grey;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  width: 50px;
  height: 30px;
  margin: 5px;
}
.btn_save, .btn_delete,.btn_disabled{
  padding-top:2px;
}

/* 코드도움 모달 */
.helper-modal_back-drop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.helper-modal_overlay{
  position: fixed;
  left: 40%;
  top: 25%;
  box-shadow: 2px 4px 10px grey;
  width: 330px;
  height: 50%;
  border-radius: 20px;
  background-color: white;
  z-index: 100;
  padding:15px 10px;
  align-items: center;
  display: flex;
  flex-direction: column
}
.option-selector{
  height: 30px;
  margin-right: 10px;
  margin-top: 5px;
}
.helper-modal_overlay input{
  border: 1px solid var(--font-color);
  height: 30px;
}
.modal_title{
  text-align: center;
  margin: 10px;
}
.modal_title:after{
  content: "";
  display: block;
  width: 100px;
  border-bottom: 3px solid var(--main-color);
  
  margin-top: 5px;
}

/* 검색섹션 */
.wrap-search-icon{
  vertical-align: top;
}
.wrap-search-icon:hover,.wrap-search-icon a:hover{
  cursor: default;
}
.search_icon{
  font-size: 12px;
}
.helper_icon{
  font-size: 12px;
  color: #767272;
  margin-left:2px;
}
.search_label,.search_label_helper{
  width: 100%;
  color:var(--font-color)
}
.search_label_helper:hover, .search_label_helper label:hover{
  cursor: pointer;
}

.header-tab-x-button{
  display: none;
}

.tab_sub_wrap:hover .header-tab-x-button{
  display: block;
}

.header_add_tab_wrap{
  width: 30px;
  border-radius: 7px;
  border: 1px solid #b9b9b9;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.header_tab_wrap{
  display: flex;
  width: 75%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 25px;
}
#keyword{
  width: 50%;
}

