td:nth-child(1){
  width: 50px;
}

th:nth-child(1){
  padding: 0;
  width: 50px;
  padding-left: 7px;
}
td,th{
  width: 200px;
  height: 30px;
  position: relative;
  background-color: inherit;
}

.table_scroll{
  height: 320px;
  display: block;
  overflow-y: scroll;
  
}

.autoComplete_box{
  height: 300px;
}

td {
  position: relative;
}

td > div:nth-child(2){
  position: absolute;
  background-color: #fff;

}

.right_edit_sel{
  margin: 0;
  z-index: 2;
  display: block;
  height: auto;
  max-height: 150px;
  overflow-y: scroll;
  position: absolute;
  width: 179px;
}

.right_edit_sel td{
  background-color: #fff;
  cursor: pointer;
}
