
td,th{
  width: 200px;
  height: 30px;
  position: relative;
  background-color: inherit;
}

.autoComplete_box{
  height: 300px;
}

th{
  background-color: #dadada;
}

td {
  position: relative;
  background-color: #fff;
}

td > div:nth-child(2){
  position: absolute;
  background-color: #fff;

}

.right_edit_sel{
  margin: 0;
  z-index: 2;
  display: block;
  height: auto;
  max-height: 150px;
  overflow-y: scroll;
  position: absolute;
  width: 179px;
}

.right_edit_sel td{
  background-color: #fff;
  cursor: pointer;
}

.search_wrap{
  display: flex;
  margin: 20px 0;
}

.search_wrap > div:nth-child(1){
  margin-right: 15px;
}