/* .btn_add{
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: var(--font-color);
    font-weight: bold;
} */
td{
    padding:0;
}