/* table common */
table{
    
}
table th,tr,td,input{
    border: solid 1px var(--border-color-light);
    text-align: center;
    padding:0px;
}
table th{
   
}
td>input{
    width:100%;
    border: none;
    background-color: transparent;
}
thead{
    background-color: lightgrey;
}

/* table header */
.search-symbol{
    width: 15px;
}
.search-symbol:hover{
    cursor: pointer;
}

/* table_body */
.tbl_body_wrap{
    /* 각자 css를 설정할 수 있게 100%로 수정 (0911 HJ)*/
    max-height: 100%;
    overflow-y: auto;
}
.btn_add{
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: var(--font-color);
    font-weight: bold;
}


*::-webkit-scrollbar{
    
    width:8px;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

/* 선택된 셀 */
.focused-row{
    background-color: #f5f5f5;
}
