.code_wrap {
  justify-content: space-evenly;
  height: 100%;
  padding-top: 36px;
  position: relative;
}

.code_wrap input {
  border: 1px solid #000;
  width: 120px;

}

.code_wrap table {
  width: 100%;
}

.code_wrap > div:nth-child(2) {
  width: 40%;
}
.code_wrap > div:nth-child(3) {
  width: 40%;
}

.code_wrap > div:nth-child(2) tr {
  cursor: pointer;
}

.code_wrap > div:nth-child(1) {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 40px;
  font-weight: bold;
}

.code_wrap > div:nth-child(3) th:nth-child(1),
.code_wrap > div:nth-child(3) td:nth-child(1) {
  width: 50px;
}

.code_wrap > div:nth-child(3) td:nth-child(1) input {
  cursor: pointer;
}

.code-scrollable-table {
  height: 420px;
  overflow: auto;
  scrollbar-width: none;
  display: block;
}

.code-scrollable-table::-webkit-scrollbar {
  display: none;
}

.inputBox {
  border: 1px solid #000;
}

.input_wrap {
  display: flex;
}

.code_wrap .code_row > div:nth-child(1) {
  width: 50%;
}
.code_wrap .code_row > div:nth-child(2) {
  width: 50%;
}

.code_wrap .code_row_sub > div:nth-child(1) {
  width: 10%;
}
.code_wrap .code_row_sub > div:nth-child(2) {
  width: 45%;
}
.code_wrap .code_row_sub > div:nth-child(3) {
  width: 45%;
}

.common_code_list_content {
  cursor: auto !important;
}
.common_code_list_content > div{
  cursor: auto !important;
}

.common_code_list_content input{
  cursor: pointer;
}