.item_wrap {
  display: flex;
  height: 100%;
  position: relative;
  padding: 7px;
}
.item_wrap td {
  background-color: inherit;
}

.item_wrap > div:nth-child(1) {
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.item_wrap > div:nth-child(2) {
  width: 40%;
  height: 100%;
}

.itemList_wrap {
  display: block;
  justify-content: center;
  text-align: center;
  height: 90%;
}

.item_add_wrap {
  position: absolute;
  right: 0;
  width: 50%;
  height: 80%;
  background-color: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: right 0.5s ease-in-out;
}

.item_add_wrap input {
  border: 1px solid #000;
  border-radius: 5px;
}

.item_add_wrap form > div > div {
  display: flex;
  margin: 20px 0;
}

.item_add_wrap form > div > div > div {
  margin: 0 15px;
}

.detail_wrap > div {
  display: flex;
  margin: 30px 0;
}

.detail_wrap > div > div {
  margin: 0 10px;
}

.detail_wrap input {
  border: initial;
  border-radius: 5px;
}

.item_detail_from {
  display: flex;
  flex-flow: column;
  padding: 10px;
  border-radius: 10px;
}

.item_detail_from > div {
  display: flex;
  margin: 0 10px;
}

.item_detail_from input {
  border: 1px solid #000;
  width: -webkit-fill-available;
}

.item_detail_from > div > button {
  margin: 0 20px;
}

.detail_items_wrap {
  height: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.detail_items_wrap > form {
  height: 100%;
  width: 90%;
}

.itemList_wrap th {
  border: 1px solid #000;
}

.itemList_wrap td {
  border: 1px solid #000;
}

.item_detail_from > div {
  margin: 10px 0;
}

.item_detail_from > div > div {
  margin: 0 10px;
}
.item_add_unit_wrap > div > div {
  display: flex;
  width: 50%;
}

.item_add_unit_wrap > div > div > div:nth-child(2) {
  display: flex;
}

.item_add_unit_wrap > div > div > div:nth-child(1) {
  width: 20%;
}

.item_add_unit_wrap > div {
  display: flex;
}

.item_add_unit_wrap input {
  width: 100px;
  margin-right: 5px;
}

.item_add_unit_wrap > div > div > div:nth-child(2) > div:nth-child(3) {
  width: 10%;
}
.item_add_unit_wrap > div > div > div:nth-child(2) > div:nth-child(2) {
  width: 15%;
}

.itemList_wrap tbody tr:hover td {
  background-color: #dadada;
  cursor: pointer;
}

.item_search_wrap input {
  width: 100px;
}

.item_detail_from input {
  width: 100px;
  margin-right: 5px;
}

/* column */
.item_detail_from > div > div {
  width: 40%;
}

.itemList_wrap th:nth-child(1),
.itemList_wrap td:nth-child(1) {
  width: 50px;
}

.cbody .item_row div:nth-child(1) {
  cursor: auto;
}

.cbody .item_row div:nth-child(1) input {
  cursor: pointer;
}

.item_row > div:nth-child(1) {
  width: 5%;
}
.item_row > div:nth-child(2) {
  width: 27%;
}
.item_row > div:nth-child(3) {
  width: 27%;
}
.item_row > div:nth-child(4) {
  width: 20%;
}
.item_row > div:nth-child(5) {
  width: 20%;
}

.item_search_wrap input {
  width: 100px;
  margin-left: 5px;
  border-radius: 5px;
}

.item_detail_button_wrap button {
  background-color: #5390f0;
  margin: 0 10px;
}

.item_search_wrap > form > div > div {
  display: flex;
}

.item_search_wrap {
  border: 1px solid #b9b9b9;
  background: rgba(217, 217, 217, 0);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
  margin-top: 17px;
  border-radius: 7px;
}

.item_search_content{
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.item_search_content > div{
  margin: 10px 0;
}

.item_search_content > div > div{
  margin:0 10px;
}

.item_search_content > div > div:nth-child(3){
  display: flex;
  align-items: end;
}

.item_search_wrap input{
  border: 1px solid #000;
  border-radius: 0;
  font-weight: 0;
}