/* detail */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.detail_wrap{
  padding: 20px;
  border-radius: 5px;
  color: #000;
  height: 100%;
  width: 40%;
}

.detail_wrap_sub{
  border: 1px solid #d9d9d9;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: rgba(217, 217, 217, 0);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.detail_wrap_sub textarea,
.detail_wrap_sub input{
  border: 1px solid #d9d9d9;
  background: rgba(217, 217, 217, 0);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.detail_wrap input{
  color: #000;
  width: 80%;
}

.detail_wrap_sub > div{
  width: 80%;
}

.detail_content_wrap{
  width: 80%;
}

.detail_content_wrap > div{
  display: flex;
  margin-bottom: 22px;
}
.detail_content_wrap > div > div{
  width: 50%;
}
.detail_content_wrap > div > div >div:nth-child(1){
  font-size: 14px;
}

.ctable  *{
  overflow: hidden;
  box-sizing: unset;
}

.ctable {
  display: block;
  text-align: center;
}

.ctable .cbody .ctr div {
  overflow-x: auto; 
  cursor: pointer;
}

.ctable .cbody .ctr div::-webkit-scrollbar {
  height: 0; 
}

.chead{
  font-size: 17px;
  font-weight: bold;
  color: #000;
  background-color: #e9eef6;
  width: 99%;
}
.ctr{
  display: flex;
  background-color:inherit;
  border: 1px solid #d9d9d9;
  height: 48px;
  align-items: center;
}

.cbody .ctr:hover{
  background-color:rgb(245, 245, 245);
}

.detail_wrap textarea{
  resize: none;
}

.cbody{
  display: block;
  height:  47vh;
  overflow: scroll;
  box-sizing: unset;
}

.detail_button_wrap{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.detail_button_wrap button{
  margin: 0 10px;
  background-color: #5390F0;
}

.common_help_table tbody tr:hover{
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.management_search_wrap{
  border: 1px solid #b9b9b9;
  background: rgba(217, 217, 217, 0);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
  border-radius: 7px;
}
.management_search_content{
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.management_search_content>div{
  margin: 10px 0;
}

.management_search_content > div > div{
  margin:0 10px;
}
.management_search_content > div >  div:nth-child(3){
  display: flex;
  align-items: center;
  margin-left: 60px ;
}

.management_search_content > div:nth-last-child(1){
  display: flex;
  align-items: end;
}

.management_search_content input{
  border: 1px solid #000;
  height: 22.6px;

}

.management_checkBox{
  height:25px !important;
  width: 38px !important;
  margin-top: 8px;
}

.management_inputBox input{
  border-radius: 5px;
}