.partner_wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.partner-scrollable-table {
  height: 300px;
  overflow: auto;
  scrollbar-width: none;
  border: 1px solid #000;
  display: contents;
}

.partner-scrollable-table::-webkit-scrollbar {
  display: none;
}

.partner_list_wrap {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.partner_detail_wrap {
  width: 40%;
  background-color: #dadada;
  border-radius: 10px;
}

.partner_add_wrap {
  position: absolute;
  z-index: 3;
  width: 40%;
  right: 0px;
  background-color: #dadada;
  height: 80%;
  border-radius: 15px;
  transition: right 0.5s ease-in-out;
  padding: 8px;
  border-radius: 17px;
}
.button_wrap {
  justify-content: flex-end;
}

.partner_add_wrap form > div {
  display: flex;
  margin: 10px;
}

.partner_add_wrap form > div > div {
  margin: 0 10px;
}

.addpartner_wrap_sub {
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.postmodal {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.addpartner_wrap_sub form input {
  border: 1px solid #000;
  border-radius: 5px;
}

.addpartner_wrap_sub  form > div{
  margin: 30px 0;
}
.addpartner_x_button{
  position: absolute;
  left: 17px;
  font-size: 30px;
  font-weight: bold;
  background: inherit;
  border: none;
}

