input[type="submit"]{
  border: 1px solid ;
}

.input_partner > tr > td:last-child{
  width: 70px;
}

.top_table_header {
  display: block;
}

.top_table_wrap {
  display: block;
  max-height: 300px; /* 원하는 높이값으로 조정 */
  overflow-y: auto;
  width: max-content;
}