.productItem_search_wrap{
}
.productItem_search_wrap input{
  width: 100px;
}

.productItem_search_wrap > div {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.productItem_search_wrap > div > div{
  display: flex;
  margin: 0 10px;
  
}

.productItem_search_wrap > div > div > div{
  margin: 0 10px;
}

.productItem_search_wrap > div:nth-child(2) {
  justify-content: flex-end;
}

